
* {
    line-height: 1.7;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}
.dark-theme {
    background-color: #1a2b34;
}

.light-theme {
    background-color: #fff;
}

code {
    font-style: italic;
    background-color: black;
    color: white;
}

code .container {
    min-width: 200px;
    min-height: 100px;
}

.header {
    background-color: #fff ;
    height: 50px;
}

.login-btn {
    background: #fff;
    color: black;
    width:99px;
    height:34px;
    border:0.5px solid black;
    border-radius:5px;
    text-align:center;
    text-decoration:none;
    font-size:0.8em;
    padding-top:5px;
    margin: 1px 10px;
}

.logout-btn{
    background: #fff;
    color: black;
    width:99px;
    height:34px;
    border:0.5px solid black;
    border-radius:5px;
    text-align:center;
    text-decoration:none;
    font-size:0.8em;
    padding-top:0px;
    margin: 1px 10px;
}
.register-btn{
    background: #000;
    color: white;
    width:100px;
    height:35px;
    border:none;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-size:0.8em;
    padding-top:6px;
    margin: 0 30px 0 10px;
    font-weight:500;
}

.learn-more-btn{
    background: #fff;
    color: black;
    width:150px;
    height:40px;
    border:0.5px solid black;
    border-radius:5px;
    text-align:center;
    text-decoration:none;
    font-size:0.8em;
    padding-top:0px;
    margin: 30px 10px;
}

/*main page */

.side-menu{
    
    width: 300px;
    background: #fff;
}

.logo{
    color: #08c65b;
    margin-left:3vw; 
}

.footer{
    position: absolute;
    bottom: 0;
    margin-left: 4.5vw; 
}



.dashboard{
     background: #fff;
     padding: 1vh 0vw 0vh 1vh;
}



/* SCROLL BAR VISIBLITY */
.scroll{ 
    overflow: scroll;
    overflow-x: hidden;
    height: 90vh;
}

.scroll::-webkit-scrollbar {
    width: 0px !important;  /* Remove scrollbar space */
    display: none;
}


.project-card{
    background: linear-gradient(to bottom right, #68e397, #69faa1);
    background: white;
    color:black;
    max-width: 150px;
}


.right-area{
     margin: 2vh 4vh 0vh 2vh;
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     justify-content: center;
     max-width: 30vw;
   
     padding: 20px;

    
}

.active{
    color: #000 !important; 
}

.links{
   margin-left:4vw; 
   margin-top: 8vh;
}

.link{
        font-size: 0.8em;
         padding-top:5px;
    margin: 0 10px;
    font-weight:500;
    color: #000;

}

 .link:focus{
    outline: none;
}

 .link:hover{
    font-weight:600;

}

/* background color of container before displaying project detail */
.white-bg{
    background: #f8f8f8 ;
}

.showcase{
    text-align:center;
    padding: 4vh 0 ;
    width: 98vw;
    background: #fdfdfd;
}

.showcase .tet{
     font-family: 'Montserrat', cursive;
     font-size: 3em;
     font-weight:100;
}

.showcase .t{
     font-family: 'Montserrat', cursive;
     font-size: 1.1em;
     font-weight:100;
}

.current{
    text-align:center;
    padding: 4vh 0 ;
    width: 98vw;
    background: #fdfdfd ;
}

.current .tet{
     font-family: 'Montserrat', cursive;
     font-size: 3em;
     font-weight:100;
}.current .t{
     font-family: 'Montserrat', cursive;
     font-size: 1.1em;
     font-weight:100;
}

/* Project Detail */
.project-detail .detail_description{
    font-size: .8em;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: 1.5px;
    max-width: 25vw;
    margin: 2vh 0;
    margin-left: auto;
    margin-right: auto;
    color:#111;

}
.project-detail .detail_descriptio{
    font-size: .9em;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 2px;
    max-width : 50vw;
    margin: 4vh 0;
    margin-left: auto;
    margin-right: auto;
    color:#111;

}

/*project detail task card*/
.taskcard{
    width: 50vw;
    min-height: 9vh;
    margin:0 0 0 4vw;
    padding: 12px;
    background: #f9f8f8;
}

.taskcard-d{
    width: 50vw;
    min-height: 9vh;
    margin:0 0 0 4vw;
    padding: 12px;
}

















